<h4>Posts</h4>
    <% if(locals.user) { %>
        <form action="/posts/create-post" method="POST" id="new-post-form">
            <textarea required name="content" id="post" cols="30" rows="3" placeholder="Add comment here..."></textarea>
            <input type="submit" name="Post" >
        </form>
    <% } %>

    <% if(posts) { %>

        <% posts.forEach(post =>{ %>

            <h3 class="text-primary d-inline mr-2"><%=post.content%></h3>
            <% if(locals.user && post.user.id == locals.user.id) { %>
                <a class="btn btn-sm btn-danger" href="/posts/destroy/<%= post.id %>">Delete Post</a>
            <% } %>
            <form action="/comment/create/<%= post.id %>" method="POST" class="form-inline mt-3">
                
                <div class="form-group mx-sm-3 mb-2">
                  <label for="inputComment" class="sr-only">Comment</label>
                  <input required type="text" class="form-control" id="inputComment" placeholder="comment" name="content">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </form>

            <%   post.comment.forEach(comment => { %>
                    <div class="mt-3 ml-5">
                        <p class="text-success d-inline"><%= comment.content %></p> 
                        <strong><span><%= comment.user.name%></span></strong>
                    <% if(locals.user && (comment.user.id == locals.user.id || post.user.id == locals.user.id)) { %>

                        <a href="/comment/delete/<%= comment.id %>" class="btn btn-sm p-1 btn-danger">Delete comment</a>
                    <% } %>
                    </div>
            <%   }); %>

            
        <% }) %>

    <% } else { %>
        <h4 class="text-secondary">No posts yet!</h4>
    <% } %>
